@font-face {
	font-family: "primetime-font";
	src: url("../fonts/Primetime.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

/*MY PORTFOLIO STYLING*/

#jumbo-land-my-portfolio {
	background-image: url(../images/bg-my-portfolio.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 70vh;
	background-attachment: fixed;
}

#card-pic-portfolio {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%; /*this will size the image horizontally*/
	height: 40vh;
}

.my-pic-my-portfolio {
	height: 200%;
	width: 20%;
	border: 1px solid black;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

}

.card-portfolio {
	height: 70vh; /*this will make space at the bottom of the card*/	
}

/*END OF MY PORTFOLIO STYLING*/

.about-us-slider {
	width: 100%;
}

/*HOME STYLING*/
#port-jumbo {
	/*border: 8px solid #007bff;*/
	padding: 8em 4em;
	/*border-radius: 10px;*/
	width: 100%;
	background-color: black;
	opacity: 0.70;
}

#jumbo-div {
	height: 100vh; /*viewport height vh*/ /*viewport width vw*/
	padding-top: 10%;
	background-color: #333;
	border-radius: 0;
	background-image: url(../images/landing-page-bg.jpeg);
	opacity: 0.90;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}

/*END OF HOME STYLING*/

/*CAROUSEL STYLING*/
.carousel-item img {
	 width: auto;
	 height: 225px;
	 max-height: 225px;
}

#carousel-home, #carousel-home1, #carousel-home2 {
	margin: 0 auto;
}

#carousel-desc {
	text-align: center;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 1px;
}

/*END OF CAROUSEL STYLING*/

#body-bg-about {
	background-color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='218' height='218' viewBox='0 0 100 100'%3E%3Cg stroke='%23CCC' stroke-width='10.8' %3E%3Crect fill='%23F5F5F5' x='-60' y='-60' width='135' height='240'/%3E%3C/g%3E%3C/svg%3E");
	overflow-x: hidden;
}

#courses-bg {
	background-image: url(../images/courses-bg.jpeg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	margin: 0 auto;
	width: 100%;
}

/*OUR SERVICES STYLING*/
#our-services p {
	text-align: center;
}
/*END OF OUR SERVICES*/

/*GALLERY STYLING*/
.jumbotron-gallery {
	background-image: url(../images/gallery-jumbotron.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0;
	height: 50vh;
}

.jumbotron h1 {
	color: white;
}

#card-id {
	max-width: 100%;
	max-height: 100%;
}

.card h5 {
	font-family: 'primetime-font', cursive;
	text-align: center;
	font-size: 25px;
	letter-spacing: 5px;
	font-style: italic;
	color: black;
}

.card p {
	font-family: 'primetime-font', cursive;
}

.card-text {
	visibility: hidden;
}

.card:hover .card-text {
	visibility: visible;
	transition-delay: 1s;
	background-color: black;
	opacity: 0.5;
	height: 40%;
	border-radius: 10%;
}

#our-services p {
	font-family: 'primetime-font', cursive;
	font-size: 40px;
	font-style: italic;
}

#gallery-bg {
	background-image: url(../images/gallery-bg.jpeg);
	filter: brightness(80%);
	opacity: 0.95;
	overflow-x: hidden;
}

hr {
	border: 2px solid black;
}


/*END OF GALLERY STYLING*/


.btn a {
	text-decoration: none;
	color: #fff;
}

.header-course h2 {
	color: black;
}

#bg {
	height: 100vh;
	padding-top: 10%;
	border-radius: 0;
	background-image: url(../images/bg.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#jumbo-div2 {
	height: 100vh;
	padding-top: 10%;
	border-radius: 0;
	background-image: url(../images/bg.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#name, .lead, nav, footer {
	color: #f2f2f2; /*off white*/
	font-family: 'Abril Fatface', cursive;
}

#name {
	width: 100%;
}

h1 {
	width: 100%;
	margin: 10px;
	font-family: 'Vollkorn SC', serif;
}

h2 {
	font-family: 'Vollkorn SC', serif;
	color: white;
}

#headers-for-about h2 {
	color: black;
}


/*What we do paragraph*/
.container-fixed p {
	font-family: 'Abril Fatface', cursive;
	letter-spacing: 2px;
}

/*Slideshow container*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  height: 100%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/*Courses styling*/
.col-8 {
	position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

div {
	display: block;
}

/*End of courses styling*/


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*End of slideshow container*/

/*THIS IS THE CONTACT US STYLING*/
.contact-bg {
	background-image: url(../images/contact-us.jpeg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 115vh;
	margin: 0 auto;
	padding: 0;
	filter: brightness(75%);
	opacity: 0.85;
}

.contact-us-heading {
	color: white;
	margin-left: 20%;
	font-family: 'Vollkorn SC', serif;
}

.contact-us-p {
	color: white;
	margin-left: 25%;
	padding-left: 24%;
	font-family: 'primetime-font', cursive;
	letter-spacing: 1px;
	font-size: 20px;
}

input[type=text], input[type=email], select, textarea {
	width: 100%;
	padding: 12px;
	border: 2px solid black;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

.contact-container {
	background-color: #f2f2f2;
	padding: 20px;
	border-radius: 5px;
}

input[type=submit] {
	background-color: #4CAF50;
	color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

form {
	background-color: #f2f2f2;
}

.contact-us-heading-main {
	top: 0;
	color: black;
}

label {
	font-family: 'Vollkorn SC', serif;
	font-size: 20px;
}
/*END OF CONTACT US STYLING*/


/*media queries*/
/*mobile style*/
/*@media only screen and (max-width: 400px) {
	#jumbo-div {
		height: 100%;
		padding-top: 5px;
		margin-top: 40px;
	}

	#port-jumbo {
		width: 100%;
		margin-top: 10vh;
		padding-top: 5em;
		padding-bottom: 5em;
	}

	.jumbotron h1 {
		font-size: 10px;
	}

	#my-pic {
		margin-left: 80px;
	}

	h1 {
		margin-left: 50px;
	}

	h2 {
		margin-left: 50px;
	}

	#logo-container {
		margin-left: 30px;
	}
}*/

/*END OF IPHONE 5S*/


/*GALAXY S5*/
@media only screen and (min-width: 320px) and (max-width: 414px) {
	#my-pic, h1, #fix, h2, #logo-container {
		margin: 0px;
	}

	#logo-container {
		margin-left: 40px;
	}

	#my-pic {
		margin-left: 100px;
	}

	.contact-us-heading {
		margin: 0;
		padding: 0;
	}

	.contact-us-p {
		margin: 0;
		padding: 0;
	}
	#course-img {
		margin-left: 10%;
		margin: 0 auto;
	}
	.course-header-1 {
		margin-left: 10%;
		margin: 0;
	}

	.header-course {
		margin: 0 auto;
	}
	/*THE ABOUT US STYLING FOR SMALL SCREENS MANIPULATED 9/24 8:47PM*/
	.row-what-we-do {
		margin: 0 auto;
		text-align: center;
		width: 100%;
		padding-right: 80px;
	}

	.card-body-about {
		margin: 0 auto;
		padding: 0;
		text-align: center;
		/*width: 100%;*/
	}

	#about-us-card-img {
		margin: 0 auto;
		text-align: center;
		/*width: 100%;*/
	}
}
/*END OF GALAXY S5*/

/*PIXEL STYLING*/
@media only screen and (max-width: 411px) {
	#my-pic {
		margin: 0px;
	}

	#fix {
		margin: 0px;
	}

	.container-fluid #logo-container {
		margin-left: 0px;
		padding: 0px;
	}

	h2 {
		margin: 0px;
	}

	#logo-container #logo {
		margin-left: 0px;
	}

	.lead {
		margin-bottom: 0px;
	}

	#logo {
		padding: 0px;
		padding-right: 10px;
	}
}
/*END OF PIXEL STYLING*/


/*tablet style*/
@media only screen and (min-width: 768px) and (max-width: 960px) {
	#my-pic {
		size: 50px;
		box-sizing: content-box;
		width: 30%;
		margin-left: 0px;
	}

	#logo-container {
		margin: 0px;
		/*margin-left: 60px;*/
	}

	#fix {
		margin-left: 0px;
	}

	.lead {
		margin-left: 10px;
	}

	h1 {
		width: 100%;
	}

	h2 {
		margin-left: 0px;
	}
	#course-img {
		margin-left: 5%;
	}
	.course-header-1 {
		margin-left: 5%;
		margin: 0 auto;
		text-align: center;
	}
	.header-course {
		margin: 0 auto;
	}

	.row-what-we-do {
		margin: 0 auto;
	}

	#gallery-carousel {
		margin: 0 auto;
		padding: 0;
	}

	.gallery-textc {
		margin: 0;
		padding: 0;
	}

}

/*desktop style*/
@media only screen and (min-width: 961px) {
	#my-pic {
		size: 10px;
		box-sizing: content-box;
		width: 20%;
	}
}